# Environnement
.env
*.env.local
*.env.*.local

# Dépendances
node_modules/
**/node_modules/

# Build
frontend/dist/
frontend/build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/

# Assets locaux
db/image.png

# IDE
.vscode/
.idea/
*.swp
